/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 4, 2022, 9:03:07 AM
    Author     : abrizgo
*/

body {
    background-color: lightblue;
    opacity: 0.5;
    color: #00517d;
    
}

